<!DOCTYPE html>
<html lang="en">
<style>
    .body {
        text-align: center;
        /*border: 3px solid green;*/
        background-image: url(https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: centre;
        position: relative;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Cut:The neXt gen app</title>
</head>
<body class="body">
<h1>
    Cut:The neXt gen app
</h1>
<p>
    please wait while we craft the perfect application for you!
</p>
</body>
</html>